{% extends 'prestamos/base.html' %}

{% block content %}
    <h1>Accesos</h1>

    <div class="actions">
        <a href="{% url 'list-book' %}" class="btn btn-primary">Libros</a>
        <a href="{% url 'list-author' %}" class="btn btn-primary">Autores</a>
        <a href="{% url 'list-category' %}" class="btn btn-primary">Categorías</a>
        <a href="{% url 'list-editor' %}" class="btn btn-primary">Editoriales</a>
        <a href="{% url 'list-prestamo' %}" class="btn btn-primary">Prestamos</a>
        <a href="{% url 'list-multa' %}" class="btn btn-primary">Multas</a>
        <a href="{% url 'list-reportes' %}" class="btn btn-primary">Reportes</a>

    </div>

{% endblock %}

