{% extends 'prestamos/base.html' %}
{% block content %}
    <h1>Detalle del Préstamo</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Cliente</th>
                <th>Libro</th>
                <th>Fecha de Préstamo</th>
                <th>Fecha de Devolución</th>
                <th>Devuelto</th>
                <th>Renovación</th>
            </tr>
        </thead>
        <tbody>
            {% for p in listaprestamos %}
                <tr>
                    <td>
                        {% with user=p.user %}
                            {{ user.username }}<br>
                            {{ user.last_name }}
                        {% endwith %}
                    </td>
                    <td>
                        {% with cliente=p.user.perfil_cliente %}
                            {{ cliente.name }} {{ cliente.last_name }}<br>
                            RUT: {{ cliente.rut }}
                        {% endwith %}
                    </td>

                    <td>
                        {% with book=p.book %}
                            ISBN: {{ book.isbn }}<br>
                            Título: {{ book.title }}<br>
                            Autor: {{ book.author }}<br>
                            Editor: {{ book.editor }}
                        {% endwith %}
                    </td>

                    <td>{{ p.date_prestamo }}</td>
                    <td>{{ p.date_devolucion }}</td>

                    <td>{{ p.devuelto|yesno:"Sí,No" }}</td>

                    <td>
                        {% for r in renovacion %}
                            Fecha de Renovación: {{ r.date_renovacion }}<br>
                            Nueva Fecha de Devolución: {{ r.date_redevolucion }}<br>
                            Días Extendidos: {{ r.day_devolucion }}
                        {% empty %}
                            <em>No se ha solicitado renovación</em>
                        {% endfor %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6" style="text-align: center;">
                        <em>No hay préstamos registrados.</em>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="{% url 'list-prestamo' %}" class="btn btn-secondary">Volver a la lista</a>
    </p>
{% endblock %}
