{% extends 'prestamos/base.html'%}
{%block content %}
    <style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    button {
        padding: 5px 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background-color: #45a049;
    }
    </style>
    <body>
        <h1>Préstamos Activos</h1>
        <table>
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Cliente</th>
                    <th>Libro</th>
                    <th>Fecha de Préstamo</th>
                    <th>Devuelto</th>
                    <th>Renovación</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>
                {% for p in listaprestamos %}
                    <tr>
                        <td>{{ p.user.username }}{{ p.user.last_name}}</td>
                        <td>
                            {% with cliente=p.clientes %}
                                {{ cliente.name }} {{ cliente.last_name }}<br>
                                {{ cliente.rut }}
                            {% endwith %}
                        </td>
                        <td>{{ p.book.title }}</td>
                        <td>{{ p.date_prestamo }}</td>
                        <td>{{ p.devuelto|yesno:"Sí,No" }}</td>
                        <td><a href="{% url 'create-renovacion' p.pk %}" class="btn btn-warning">Renovar</a></td>
                        <td><a href="{% url 'prestamo-detail' p.pk %}" class="btn btn-secondary">Ver detalles</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </body>
    
{% endblock%}