<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
        h1, h2 {
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }

    </style>
</head>
<body>
    <h1>Reporte de Préstamos</h1>
    <h2>Fecha: {{ fecha }}</h2>
    {% if prestamos %}
    <table>
        <thead>
            <tr>
                <th>Libro</th>
                <th>Usuario</th>
                <th>Fecha de Préstamo</th>
                <th>Fecha de Devolución</th>
            </tr>
        </thead>
        <tbody>
            {% for prestamo in prestamos %}
            <tr>
                <td>{{ prestamo.book.title }}</td>
                <td>{{ prestamo.user.username }}</td>
                <td>{{ prestamo.date_prestamo }}</td>
                <td>{{ prestamo.date_devolucion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="mensaje">No hay préstamos registrados en esta fecha.</p>
    {% endif %}
</body>
</html>